<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" routerLink="/home">
        <img src="recursos/NIKELO.webp" alt="Logo de la App" width="35" height="35" class="d-inline-block me-2">
        <span class="fw-bold">Neo Vision</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown" *ngFor="let option of menuOptions">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ option.name }}
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let item of option.subItems">
                <a class="dropdown-item" href="#" (click)="$event.preventDefault()">{{ item }}</a>
              </li>
            </ul>
          </li>
        </ul>
        <button class="btn btn-outline-danger" (click)="logout()">Cerrar Sesión</button>
      </div>
    </div>
  </nav>
</header>