/* You can add global styles to this file, and also import other style files */
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: brown;
}
nav li{
    color: blue;
}